      <footer id="main-footer" role="contentinfo">
        <div class="container">
          <div class="row">
              <div class="col-sm-6 copyright-legal">
                  <small> 2016 &copy; Copyright | All Rights Reserved. <br/><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Poilcy</a></small>
              </div>
              <div class="col-sm-6 credit">
                  <small>Designed By: <a href="http://baustein.ca" target="_blank">Baustein Strategic Group Design Inc.</a></small>
              </div>
          </div>
        </div>
      </footer>

    </section><!--  end of #page-wrapper -->

    <!-- ========== Modals ========== -->

    <script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
    <script src="{{root}}assets/js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: [ 'Roboto:400,300,100,500,300italic,400italic,500italic:latin', 'Roboto+Condensed:400,300,700:latin', 'Merriweather:400,300,700,300italic,400italic:latin' ]
        }
      });
    </script>
  </body>
</html>