<div id="header-wrapper">
	<header id="main-header" role="banner">

	  	<div class="row">
			<nav role="navigation" class="main-nav navbar navbar-default navbar-fixed-top">
			    <div class="container">
			        <div class="navbar-header">
			            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar icon-bar-x"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar icon-bar-x"></span>
			            </button>
			            <a href="index.html" class="navbar-brand">
			            	<img src="{{root}}assets/img/svgs/nobelium_logo_slim.svg" alt="Nobelium Logo" class="hidden-sm hidden-md hidden-lg">
			            	<img src="{{root}}assets/img/svgs/nobelium_logo.svg" alt="Nobelium Logo" class="hidden-xs">
						</a>
			        </div>
			        <div id="navbarCollapse" class="collapse navbar-collapse">
			            <ul class="nav navbar-nav navbar-right">
			                <li class="dropdown"><a href="about.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <i class="fa fa-angle-down" aria-hidden="true"></i></a>
								<ul class="dropdown-menu">
						            <li class="hidden-xs"><a href="about.html#company" class="smooth">Company</a></li>
						            <li class="hidden-xs"><a href="about.html#mission" class="smooth">Corporate Mission &amp; Strategy</a></li>
						            <li class="hidden-xs"><a href="about.html#management" class="smooth">Management &amp; Board</a></li>
						            <li><a href="acquisition-criteria.html" class="smooth">Acquisition Criteria</a></li>
						          </ul>
			                </li>
							<li class="active"><a href="news.html">News</a></li>
							<li><a href="investor-relations.html">Investor Relations</a>
								<!-- <ul class="dropdown-menu">
						            <li><a href="investor-relations.html#ticker" class="smooth">Stock Ticker</a></li>
						            <li><a href="investor-relations.html#news" class="smooth">Financial News Releases</a></li>
						            <li><a href="investor-relations.html#reports" class="smooth">Shareholder Reports</a></li>
						            <li><a href="investor-relations.html#presentation" class="smooth">Management Presentation</a></li>
						            <li><a href="investor-relations.html#factsheets" class="smooth">Corporate Factsheets</a></li>
						        </ul> -->
							</li>
							<li><a href="contact.html">Contact Us</a></li>
			            </ul>
			        </div>
			    </div>
			</nav>
	  	</div>

	</header>
</div>